.empty-state
{
  margin: 250px 0;
  text-align: center;
  font-size:large;
}


.filter-select 
{
  background-color: #111827; 
  color: white;            
  border: 2px solid #6e48f7; 
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.filter-select:focus 
{
  border-color: #6e48f7;     
  box-shadow: 0 0 5px white;
}

.watchlist-container 
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  color: #ffffff;
}

.watchlist-header h1 
{
  font-size: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid white;
  text-align: center;
}

.watchlist-grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding-top: 50px;
}

.watchlist-card 
{
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.watchlist-card:hover 
{
  transform: translateY(-4px);
  box-shadow: 5px 10px 0px 0px #2b1c61;
}

.card-image-container 
{
  position: relative;
  background-color: #23252b;
  border: 2px solid white;
  overflow: hidden;
  border-radius: 4px;
}

.card-poster 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status
{
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
}

.card-content 
{
  padding: 12px 0;
}

.card-title 
{
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-metadata 
{
  font-size: 13px;
  color: #a0a0a0;
  margin: 0;
}

.card-episodes 
{
  font-size: 12px;
  color: #fab818; 
  margin: 4px 0 0 0;
}

.card-actions 
{
  margin-top: 12px;
}

.remove-btn 
{
  background: #6e48f7;
  border: 1px solid #6e48f7;
  color: white;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.remove-btn:hover 
{
  background: #cc0000;
  border-color: #cc0000;
}


.remove-msg 
{
  position: fixed;
  top: 0;          
  left: 0;
  width: 100%;      
  background-color: #c3b4f9;
  color: #1f1642;
  padding: 16px 0;  
  text-align: center;
  z-index: 2000;    
  box-shadow: 0px 4px 10px #1f1642;
  border-bottom: 3px solid white;
  animation: slideDown 0.4s ease-out; 
}

